{{#each posts as |post| }}
 <div class="card border-dark mb-3" style="max-width: 50rem;">
        <div class="card-header">
          Blog Post
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post_title}}</h5>
          <p class="card-text">{{blurb}}</p>
          <a href="#" class="btn btn-light">Go to post</a>
        </div>
        <div class="card-footer"><small class="text-muted">Created {{format_date post.date}}</small></div>
      </div>
{{/each}}
